<!--<?xml version="1.0" encoding="UTF-8"?>-->
<configuration>
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <includeOrigin>true</includeOrigin>
            <stackTraceAsArray>true</stackTraceAsArray>
            <includeMarkers>true</includeMarkers>
        </encoder>
    </appender>
    <root additivity="false">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>