<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <includeOrigin>true</includeOrigin>
            <stackTraceAsArray>true</stackTraceAsArray>
            <includeMarkers>true</includeMarkers>
        </encoder>
    </appender>

    <!-- Réduction des logs de Spring Security (authentification échouée = 401) -->
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.security.web.access" level="WARN"/>
    <logger name="org.springframework.security.web.authentication" level="WARN"/>

    <root level="INFO" additivity="false">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>
